.hover-underline {
    position: relative;
  transition: all 0.5s;
  /* -webkit-text-stroke: 1px #fbd7ff; */
  font-variation-settings: "wght" 900, "ital" 1;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 0px -1px 0px #cd00007d,
     0px 2px 0px #0055cd7d;
  filter: drop-shadow(0px -0px 3px rgba(0, 0, 0, 0.829));

  cursor: pointer;
}
/* eaaeec */
.hover-underline:hover {
  font-variation-settings: "wght" 100, "ital" 0;
  text-shadow: 0px -4px 0px #cd00007d,
     0px 4px 0px #0055cd7d,
     10px 0px 0px #08a2007d,
     -10px 0px 0px #5500cd7d;
    filter: none;

/* -webkit-text-stroke: 1px #46a2ff; */
}


ul li .social{
  width: 30px;
  height: 30px;
  background-color: #fff;
  line-height: 30px;
  font-size: 20px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
  z-index: 1;
}

ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

ul li .social:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

ul li .social:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(45, 42, 42);
  transition: .5s;
  z-index: 2;
}

ul li .social:hover:before {
  top: 0;
}

ul li:nth-child(1) a:before{
  background: #3b5999;
}

ul li:nth-child(2) a:before{
  background: #d95a85;
}

ul li:nth-child(3) a:before {
  background: #0077b5;
}

ul li:nth-child(4) a:before {
  background: #308e60;
}




/* Inline icon used next to headings/text */
.inline-icon {
  width: 1.4em; /* size relative to current font-size */
  height: 1.4em;
  display: inline-block;
  vertical-align: -0.5em;
  object-fit: contain;
  /* margin-left: 0.5rem; */
  filter: drop-shadow(0px -0px 3px rgba(255, 251, 218, 0.829));

}

.inline-icon:hover {
  filter: drop-shadow(0px 0px 6px rgb(255, 253, 231));
}


h3 {
  color: #80bced;
}

.experience-icon {
  position: absolute;
  left: -60px;
  top: 30px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
    filter: drop-shadow(0px -0px 1px rgba(255, 251, 218, 0.829));

}