<div class="container" *ngIf="profile">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card px-4 py-3">
        <div class="row py-2">
          <div class="col-md-9">
            <div class="font-fira-mono">
              <h1 class="hover-underline display-2 fw-bold"
                  style="font-family: 'Trebuchet MS', sans-serif; color: #ebfdff;">
                {{ profile.name }}
              </h1>
            </div>

            <div class="font-fira-mono">
              <p class="text-muted">
                <ng-container *ngFor="let role of profile.roles; let last = last">
                  <a *ngIf="role.url; else plainRole" [href]="role.url" target="_blank" [title]="role.title || role.text">{{ role.text }}</a>
                  <ng-template #plainRole>{{ role.text }}</ng-template>
                  <span *ngIf="!last"> / </span>
                </ng-container>
              </p>
            </div>

            <div class="font-fira-mono">
              <p class="fs-6 mb-1" style="color: #ff9797;">{{ profile.bio }}</p>
            </div>
          </div>

          <div class="col-3 text-center">
            <img [src]="profile.image" [alt]="profile.name" class="rounded-circle profile-image" />
            <ul class="mt-2 d-flex justify-content-center p-1 gap-1 list-unstyled">
              <li *ngFor="let social of profile.socials">
                <a [href]="social.url" target="_blank" [title]="social.label" class="d-block text-center social">
                  <i [class]="social.icon + ' icon'"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="font-helvetica fs-4">
          <div class="row" style="color: rgb(248, 252, 255);">
            <h5 class="mb-1">Education</h5>

            <div class="col-12 mb-4">
              <hr class="mt-0 mb-2" />
              <div class="position-relative"
                   [class.mb-4]="!last" *ngFor="let edu of education; let last = last">
                <div class="d-flex justify-content-between align-items-start">
                  <div>
                    <div>{{ edu.school }}</div>
                    <div class="fs-6" style="color: #dbe2ff;" *ngIf="edu.note">&#8195;~ {{ edu.note }}</div>
                  </div>
                  <div class="fs-6 mt-2 text-end">
                    <div>{{ edu.period }}</div>
                    <div>{{ edu.location }}</div>
                  </div>
                </div>
              </div>
            </div>

            <h5 class="mb-1">Experience</h5>
            <hr class="mt-0 mb-2" />

            <div class="mb-4 position-relative" *ngFor="let job of experience">
              <div class="d-flex justify-content-between align-items-start">
                <div>
                  <div>{{ job.role }}</div>
                  <a *ngIf="job.orgUrl; else plainOrg" [href]="job.orgUrl" target="_blank" [title]="job.org">{{ job.org }}</a>
                  <ng-template #plainOrg>{{ job.org }}</ng-template>
                  <div class="fs-6" style="color: #dbe2ff;" *ngIf="job.details?.length">
                    <ng-container *ngFor="let d of job.details; let first = first">
                      <br *ngIf="!first" />
                      &#8195;~ {{ d.prefix }}<a *ngIf="d.url; else plainDetail" [href]="d.url" target="_blank" [title]="d.label">{{ d.label }}</a>
                      <ng-template #plainDetail>{{ d.label }}</ng-template>
                    </ng-container>
                  </div>
                </div>
                <div class="fs-6 mt-2 text-end">
                  <div>{{ job.period }}</div>
                  <div>{{ job.location }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
