<div class="p-4" id="menu-items">
    <div class="menu-item font-bold pb-4" data-href="{{ site.baseurl }}/home" id="homeLink">Shaurya Raswan</div>
    <div class="menu-item text-sm pb-1" data-href="{{ site.baseurl }}/resume" id="resumeLink">Resume</div>
    <div class="menu-item text-sm pb-1" data-href="{{ site.baseurl }}/art" id="artLink">Art</div>
    <div class="menu-item text-sm pb-1" data-href="{{ site.baseurl }}/blog" id="blogLink">Blog</div>
  </div>
  <div id="menu-background-pattern"></div>
  