<!-- <div class="p-4" id="menu-items">
    <div class="menu-item font-bold pb-4" data-href="{{ site.baseurl }}/home">Shaurya Raswan</div>
    <div class="menu-item text-sm pb-1" data-href="{{ site.baseurl }}/resume">Resume</div>
    <div class="menu-item text-sm pb-1" data-href="{{ site.baseurl }}/art">Art</div>
    <div class="menu-item text-sm pb-1" data-href="{{ site.baseurl }}/blog">Blog</div>
</div>
<div id="menu-background-pattern"></div> -->

<div class="p-4 pr-12" id="menu-items">
    <a class="menu-item font-bold pb-4" href="{{ site.baseurl }}/">Shaurya Raswan</a>
    <a class="menu-item text-sm pb-1" href="{{ site.baseurl }}/resume">Resume</a>
    <a class="menu-item text-sm pb-1" href="{{ site.baseurl }}/art">Art</a>
    <a class="menu-item text-sm pb-1" href="{{ site.baseurl }}/blog">Blog</a>
</div>

