<div class="container my-1">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <ng-container *ngIf="!activeBlog">
        <h1 class="display-5 border-bottom pb-1 mb-2 font-helvetica"><em>Anti</em>-Blog</h1>

        <p class="text-secondary lead fs-6 mb-3">Note: 
          An "anti-blog" diverts from common blogging conventions in favor of evergreen pages and long-form, curated structures. 
          I hope to develop this tiny digital garden to be enjoyed in isolation.
        Unless marked as educational, the content below may not be representative of my experience or thoughts. </p>
      </ng-container>

      <div *ngIf="loading" class="text-secondary">Loading…</div>
      <div *ngIf="error" class="text-danger">{{ error }}</div>

      <ng-container *ngIf="!loading && !error && !activeBlog">
        <div class="row g-3 mb-5">
          <div class="col-lg-4 col-md-6" *ngFor="let blog of blogs">
            <a [routerLink]="['/blog', blog.slug]" class="card blog-card h-100 text-reset text-decoration-none">
              <img
                *ngIf="blog.image"
                [src]="blog.image"
                [alt]="blog.title"
                class="card-img-top object-fit-cover"
                style="height: 210px;"
              />

              <div class="card-body d-flex flex-column">
                <h2 class="card-title h4 mb-1">{{ blog.title }}</h2>
                <p class="card-text flex-grow-1 mb-0">{{ blog.excerpt }}</p>
                <div class="text-muted mb-2">
                  <small>{{ blog.date | date:'longDate' }}</small>
                </div>

                <div class="mb-2" *ngIf="blog.tags?.length">
                  <span class="blog-tag" *ngFor="let tag of blog.tags">{{ tag }}</span>
                </div>

              </div>
            </a>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="!loading && !error && activeBlog">
        <div class="row p-0">
          <div class="col-lg-1 blog-action-col">
            <div class="blog-action-sidebar d-grid gap-2">
              <a routerLink="/blog" class="btn btn-outline-secondary btn-sm">← </a>
              <button type="button" class="btn btn-outline-secondary btn-sm" (click)="copyCurrentPostUrl()">
                Share
              </button>
              <small class="text-success" *ngIf="shareCopied">Copied!</small>
            </div>
          </div>

          <div class="col-lg-9">
            <article class="card page-card">
              <div class="card-body">
                <h1 class="card-title h1 blog-detail-title">{{ activeBlog.title }}</h1>

                <h6 class="blog-detail-excerpt">{{ activeBlog.excerpt }}</h6>

                <div class="text-muted">
                  <h6>{{ activeBlog.date | date:'longDate' }}</h6>
                </div>

                <h6 class="" *ngIf="activeBlog.tags?.length">
                  <span class="blog-tag" *ngFor="let tag of activeBlog.tags">{{ tag }}</span>
                </h6>

                <hr class="blog-detail-divider" />

                <markdown [src]="getMarkdownPath(activeBlog)"></markdown>
              </div>
            </article>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>