<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Literata:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <title>{{ page.title | default: site.title }}</title>

</head>

<body>
  
<div class="container">
  <div class="pl-4" id="menu">
    {% include sidebar.html %}
    <div id="menu-background-pattern"></div>

    <div class="content py-4">
      <h2 class="pb-4">{{ page.title | default: "Main Content" }}</h2>
      {{ content }}
    </div>
  </div>

</div>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../assets/js/pdfobject.js"></script>



</body>

</html>
